@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="padding:20px">Creating ASP.NET MVC Projects!</h1>
    <ul class="list-group" style="padding:20px">
        <li class="list-group-item list-group-item-success">An Example Project to explore the functionality of MVC inside of ASP.NET for personal learning</li>
        <li class="list-group-item list-group-item-danger">A place for Junior Developers can get comfortable with moving from Spring Boot MVC</li>
    </ul>

    <div class="mx-auto" style="padding:20px">
        <h2>Getting Started!</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col" style="height:100px">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9VCH0H9pzKLjOzeoUx1UjxdBC87SDKwUbkQ&usqp=CAU" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Visual Studio 2019</h5>
                        <p class="card-text">Please ensure you download the Community Edition, as this is free for all users!</p>
                        <a href="https://visualstudio.microsoft.com/downloads/" class="btn btn-primary" onclick="">Visual Studio 2019</a>
                    </div>
                </div>
            </div>
            <div class="col order-1" style="height:100px">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/introduction/getting-started/_static/image2.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Open Net Core</h5>
                        <p class="card-text">
                            Inside the Application once installed, you can select a variety of Template Applications. If missing any .NET CORE, install Microsoft Web Development Tools Via the Button Below!
                        </p>
                        <a href="https://www.microsoft.com/en-gb/download/developer-tools.aspx" class="btn btn-primary">Microsoft Web Dev Tools</a>
                    </div>
                </div>
            </div>
            <div class="col order-2" style="height:100px">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" height="100" src="https://visualstudio.github.com/images/screencap.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Version Control Setup & GitHub Extension</h5>
                        <p class="card-text">Once inside the project, make sure you install Github via Manage Extensions. If you cannot find this please feel free to use the link below for manual install.</p>
                        <a href="https://visualstudio.github.com/" class="btn btn-primary">Github Extension</a>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>

